{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <!-- <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard Analytics</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Cantidad de clientes</h6>
                            <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>623,343</span></h2>
                            <p class="m-b-0">Clientes de la CCMA<span class="float-right"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Experiencias</h6>
                            <h2 class="text-right text-white"><i class="feather icon-check-circle float-left"></i><span>39,284</span></h2>
                            <p class="m-b-0">Encuestas diligencias<span class="float-right">6.3%</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Intereses</h6>
                            <h2 class="text-right text-white"><i class="feather icon-sunset float-left"></i><span>187,639</span></h2>
                            <p class="m-b-0">Temas de interés<span class="float-right">30.1%</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">Contactos</h6>
                            <h2 class="text-right text-white"><i class="feather icon-radio float-left"></i><span>595,784</span></h2>
                            <p class="m-b-0"><span class="float-right">95.5%</span></p>
                        </div>
                    </div>
                </div>
                
                <!-- order-card end -->
                <!-- users visite start -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Asistencia a eventos en el tiempo</h5>
                        </div>
                        <div class="card-body">
                            <div class="toolbar btn-group">
                                <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
                                <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
                                <button id="one_year" class="btn btn-sm btn-outline-primary active">1Y</button>
                                <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
                                <button id="all" class="btn btn-sm btn-outline-primary">ALL</button>
                            </div>
                            <div id="area-chart-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tipos de eventos en miles</h5>
                        </div>
                        <div class="card-body">
                            <div id="radialBar-chart-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Demanda</h6>
                            <h2 class="text-right text-white"><i class="feather icon-edit float-left"></i><span>144,074</span></h2>
                            <p class="m-b-0">Asistencia a eventos<span class="float-right">23.1%</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Llamadas</h6>
                            <h2 class="text-right text-white"><i class="feather icon-phone-call float-left"></i><span>14,438</span></h2>
                            <p class="m-b-0"><span class="float-right">2.3%</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Eventos</h6>
                            <h2 class="text-right text-white"><i class="feather icon-calendar float-left"></i><span>5,581</span></h2>
                            <p class="m-b-0">Realizados<span class="float-right"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">Empresas</h6>
                            <h2 class="text-right text-white"><i class="feather icon-briefcase float-left"></i><span>339,790</span></h2>
                            <p class="m-b-0">Vinculadas a la CCMA<span class="float-right"></span></p>
                        </div>
                    </div>
                </div>
                <!-- Segunda línea de gráficos -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Temas de interés de los clientes</h5>
                        </div>
                        <div class="card-body">
                            <div id="radar-chart-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Tipos de evento por área de profesión</h5>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart-2"></div>
                        </div>
                    </div>
                </div>
                

                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
