{% extends "layouts/base.html" %}

{% block title %} Recomendación {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Recomendación</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Recomendación</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Sistema de recomendación</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
										<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
										<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
										<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p> El sistema de recomendación predice la puntuación de los elementos, es decir, el evento, para cada usuario. La característica especial de estos eventos, que los hace muy diferentes de escenarios similares, es que son perecederos: cada evento tiene una vida útil relativamente corta y específica.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>Panel de control</h5>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12">
									<!-- <form>
										<div class="form-group">
											<label>Ingrese una característica de evento</label>
											<input type="text" class="form-control" placeholder="Característica">
										</div>
										<div class="form-group">
											<label for="formControlRange">Eliga la cantidad de clientes</label>
											<input type="range" class="form-control-range" id="formControlRange">
										</div>
									</form> -->
									<form role="form" method='POST'>
										<div class="form-group">
										<!-- <button class="btn  btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Seleccione el evento</button>
										<div class="dropdown-menu" style="">
											{% for colour in colours %}
											<a class="dropdown-item">{{colour}}</a>
											{% endfor %}
										</div> -->
										<select name="search_filter" id="search_filter" class="form-control" >
											<option value="">Select Option</option>';
											{% for row in colours %}
												<option value="{{row[0]}}">{{row[1]}}</option>';    
											{% endfor %}
											</select>
											<br>
											<div style="display: block;	margin: 0 auto;">
												<label class="btn btn-secondary">
												<input type="checkbox" name="eventos" value="Eventos" >
												Eventos</label>
												<label class="btn btn-secondary">
												<input type="checkbox" name="contactos" value="Contactos" >
												Contactos</label>
												<label class="btn btn-secondary">
												<input type="checkbox" name="interes" value="Intereses" >
												Intereses</label>
											</div>	
											
										  <input type="number" name="cantidad" class="form-control" id="url-box" placeholder="Ingrese cantidad de clientes" >
										</div>
										<button type="submit" class="btn btn-primary">Obtener listado de clientes</button>
									  </form>
									  
									<!-- <div class="card-body">
										{% for result in results%}
										<p>{{ result }}</p>
										  {% endfor %}
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Listado</h5>
						</div>
						<div class="card-body">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<div class="table-responsive">
									<div class="customer-scroll" style="height:420px;position:relative;">
										<table class="table table-hover m-b-0">
											<thead>
											  <tr>
												<th><span>Usuario <a class="help" data-toggle="popover" title="Asistente" data-content="Usuario de la CCMA"><i class="feather icon-help-circle f-16"></i></a></span></th>
												<th><span>Estimación <a class="help" data-toggle="popover" title="Asistente" data-content="Estimación de asistencia al evento"><i class="feather icon-help-circle f-16"></i></a></span></th>
												<th><span>Correo <a class="help" data-toggle="popover" title="Asistente" data-content="Grupo al que pertenece el usuario "><i class="feather icon-help-circle f-16"></i></a></span></th>
												<th><span>Teléfono <a class="help" data-toggle="popover" title="Asistente" data-content="Grupo al que pertenece el usuario "><i class="feather icon-help-circle f-16"></i></a></span></th>
											  </tr>
											</thead>
											<tbody>
												{% for row in row_data %}
												<tr>
												  {% for col, row_ in zip(column_names, row) %}
												  <td>{{row_}}</td>
												  {% endfor %}
												</tr>
												{% endfor %}
											</tbody>
											</table>
									</div>
								</div>
							</div>
							<br>
							<button type="button" onclick="tableToCSV()" class="btn  btn-primary btn-lg">Descarga de listado</button>
						</div>
						<script type="text/javascript">
							function tableToCSV() {
					 
								// Variable to store the final csv data
								var csv_data = [];
					 
								// Get each row data
								var rows = document.getElementsByTagName('tr');
								for (var i = 0; i < rows.length; i++) {
					 
									// Get each column data
									var cols = rows[i].querySelectorAll('td,th');
					 
									// Stores each csv row data
									var csvrow = [];
									for (var j = 0; j < cols.length; j++) {
					 
										// Get the text data of each cell
										// of a row and push it to csvrow
										csvrow.push(cols[j].innerHTML);
									}
					 
									// Combine each column value with comma
									csv_data.push(csvrow.join(","));
								}
					 
								// Combine each row data with new line character
								csv_data = csv_data.join('\n');
					 
								// Call this function to download csv file 
								downloadCSVFile(csv_data);
					 
							}
					 
							function downloadCSVFile(csv_data) {
					 
								// Create CSV file object and feed
								// our csv_data into it
								CSVFile = new Blob([csv_data], {
									type: "text/csv"
								});
					 
								// Create to temporary link to initiate
								// download process
								var temp_link = document.createElement('a');
					 
								// Download csv file
								temp_link.download = "Resultados campaña ccma.csv";
								var url = window.URL.createObjectURL(CSVFile);
								temp_link.href = url;
					 
								// This link should not be displayed
								temp_link.style.display = "none";
								document.body.appendChild(temp_link);
					 
								// Automatically click the link to
								// trigger download
								temp_link.click();
								document.body.removeChild(temp_link);
							}
						</script>
					
					</div>
				</div>
				<!-- Tarjeta de estadísticas de la lista -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Características del listado</h5>
						</div>
						<div class="card-body">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<div class="table-responsive">
									<div class="customer-scroll" style="height:420px;position:relative;">
										<table class="table table-hover m-b-0">
											<thead>
											  <tr>
												{% for col in column_names_desc %}
												<th>{{col}} </th>
												{% endfor %}
											  </tr>
											</thead>
											<tbody>
												{% for row in row_data_desc %}
												<tr>
												  {% for col, row_ in zip(column_names_desc, row) %}
												  <td>{{row_}}</td>
												  {% endfor %}
												</tr>
												{% endfor %}
											</tbody>
											</table>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- Eventos más relacionados en la lista -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Eventos relacionados del listado</h5>
						</div>
						<div class="card-body">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<div class="table-responsive">
									<div class="customer-scroll" style="height:420px;position:relative;">
										<table class="table table-hover m-b-0">
											<thead>
											<tr>
												{% for col in column_names_most %}
												<th>{{col}} </th>
												{% endfor %}
											</tr>
											</thead>
											<tbody>
												{% for row in row_data_most %}
												<tr>
												{% for col, row_ in zip(column_names_most, row) %}
												<td>{{row_}}</td>
												{% endfor %}
												</tr>
												{% endfor %}
											</tbody>
											</table>
									</div>
								</div>
							</div>
							<p>{{persona}}</p>
						</div>
					</div>
				</div>


				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
